# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environment folder
venv/
.env/

# Ignore Django migrations
**/migrations/

# Ignore database files
*.sqlite3

# Ignore media/uploads
media/
uploads/

# Ignore compiled/static files
staticfiles/
*.log

# Ignore sensitive files
.env